extends layout

block content
	link(rel='stylesheet', href='/stylesheets/index.css')
	
	body
		nav
			ul.sidebar-nav
				li
					a(href='/') Home
				li
					a(href='/attributes') All Attributes
				li
					a(href='/monster_categories') All Monster Categories					
				li
					a(href='/monster_types') All Monster Types
				li
					a(href='/spell_types') All Spell Types
				li
					a(href='/trap_types') All Trap Types
				li
					hr
				li
					a(href='/monster_card/create') Create new monster card
				li
					a(href='/spell_card/create') Create new spell card
				li
					a(href='/trap_card/create') Create new trap card
				li
					a(href='/attribute/create') Create new attribute
				li
					a(href='/monster_category/create') Create new monster category
				li
					a(href='/monster_type/create') Create new monster type
				li
					a(href='/spell_type/create') Create new spell type
				li
					a(href='/trap_type/create') Create new trap type
		h1= title
		p Welcome to #{title}
		
		form#card-search-form(method='' action='')
			div.form-group
				label(for='name') Name:
				input#name.form-control.card-search-field(type='text', name='name', required='true')
				
			div.form-group
				label(for='desc') Desc:
				input#desc.form-control.card-search-field(type='text', name='desc', required='true')
				
			div.form-group
				label(for='card-category') Card:
				select#card-category.form-control.card-search-field(type='select', name='card-category', required='true')
					option(value='default', selected='true', disabled='true') Select a card category	
					- var statusOptions = ['Monster', 'Spell', 'Trap']		
			
					each val in statusOptions
						option(value=val) #{val}	
						
			div.form-group
				label(for='type') Type:
				select#card-type.form-control.card-search-field(type='select', name='card-type', disabled='true')
				
				select#monster-category.form-control.card-search-field(type='select', name='monster-category', disabled='true')
					
			div.flex-row.form-group
				label(for='attrib') Attrib:
				select#attrib.form-control.card-search-field(type='select', name='attrib', required='true', disabled='true')

				input#level-filter-min.form-control.card-search-field(type='number', name='level-filter-min', min='1', max='12', disabled='true')
				label#lvl-rank-separator(for='level-filter-min') ≤ 
					span Lvl/
						br
						| Rank
					| ≤
				input#level-filter-max.form-control.card-search-field(type='number', name='level-filter-max', min='1', max='12', disabled='true')
				
			div.flex-row.form-group
				input#atk-filter-min.form-control.card-search-field(type='number', name='atk-filter-min', min='0', max='9999', disabled='true')
				label(for='atk-filter-min') ≤ ATK ≤	
				input#atk-filter-max.form-control.card-search-field(type='number', name='atk-filter-max', min='0', max='9999', disabled='true')
				
				input#def-filter-min.form-control.card-search-field(type='number', name='def-filter-min', min='0', max='9999', disabled='true')
				label(for='def-filter-min') ≤ DEF ≤
				input#def-filter-max.form-control.card-search-field(type='number', name='def-filter-max', min='0', max='9999', disabled='true')
	
		script.
			const monsterTypesObj = !{JSON.stringify(monster_types)}
			const spellTypesObj = !{JSON.stringify(spell_types)}
			const trapTypesObj = !{JSON.stringify(trap_types)}
			const attributesObj = !{JSON.stringify(attributes)}
			const monsterCategoriesObj = !{JSON.stringify(monster_categories)}	
		script(type='text/javascript' src="/javascripts/index.js")
				
			